/*----------------------------------------------------------------
* Settings
*----------------------------------------------------------------
*
* Global variables, site-wide settings, config switches, etc.
*/
@import 'settings.load-foundation';

/*----------------------------------------------------------------
* Generic
*----------------------------------------------------------------
*
* Low-specificity, far-reaching rulesets (e.g. resets).
*/



/*----------------------------------------------------------------
* Base
*----------------------------------------------------------------
*
* Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
*/

html {
  //...
}

body {

}


/*----------------------------------------------------------------
* Helper classes
*----------------------------------------------------------------
*
* Simple classes helpers (e.g. .fullheight {}).
*/

.nls- {
  &full {
    &--height { height: 100%; min-height: 100%; }
    &--width { width: 100%; min-width: 100%; }
  }

  &position {
    &--fixed { position: fixed; }
    &--static { position: static; }
    &--relative { position: relative; }
  }
}

//@import "helpers.height";


/*----------------------------------------------------------------
* Objects
*----------------------------------------------------------------
*
* Objects, abstractions, and design patterns (e.g. .media {}).
*/

//@import "objects.navigation";

#browser {
  &::shadow {
    * {
      &:hover {
        box-shadow: 0 0 10px $primary-color;
      }
    }
  }
}


/*----------------------------------------------------------------
* Components / UI
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/

//@import "ui.layout"; // Overall layout


/*----------------------------------------------------------------
* Trumps / Overrides
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/

//@import "trumps.footer";